/* general */

body{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

.square-frames-part, .quote-part, .signing-up-part{
    display: flex;
    justify-content: center;
}

.square-frames-part-content, 
.quote-part-content{
    width: 900px;
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

a{
    text-decoration: none;
    color: white;
}

h1{
    font-weight: 900;
    margin: 0;
    padding: 0;
}

.h1-text{
    color: #F9FAF8;
    font-size: 20px;
    font-weight: 900;
}


/* Header */

header{
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    justify-content: center;
}

.header-content{
    margin-top: 15px;
    width: 900px;
}

.header-buildboard-line{
    padding: 30px 0;
}

.header-upper-line{
    display: flex;
    justify-content: space-between;
}

.header-links-ul{
    display: flex;
    gap: 20px;
}

.header-buildboard img{
    width:100%;
    height: auto;
}

.header-buildboard{
    display: flex;
    flex-direction: column;
    justify-content: end;
    flex: 5;
}

.header-buildboard-line-text-part{
    display: flex;
    flex-direction: column;
    justify-content: start;
    flex: 4;
}

.header-buildboard-line{
    display: flex;
    height: 350px;
    gap:15px;
    justify-content: space-between;
    align-items: center;
}

.header-text{
    font-size: 16px;
    color: #E5E7EB;
}

.header-logo{
    font-weight: 1000;
    font-size: 18px;
    color: #F9FAF8;
}

button.header-button{
    color: #1F2937;
    background-color: #E5E7EB;
    border-radius: 5px;
    border: none;
    padding: 3px 15px;
    font-weight: 700;
    box-sizing: border-box;
    height: 25px;
    width: 100px;

}

button.header-button:hover{
    color: #E5E7EB;
    background-color: transparent;
    border: 2px solid #E5E7EB;

}

/* square frames part */

.square-frame-picture{
    border: 3px solid black;
    width: 150px;
    height: 150px;
    border-radius: 10%;
}

.square-frame-wrapper{
    max-width: 150px;
    text-align: center;
}

.square-frames-part-content{
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.square-frames-part{
    align-items: center;
}

.square-frames-wrapper{
    display: flex;
    justify-content: space-evenly;
}

.square-frames-title{
    text-align: center;
    font-weight: 700;
    font-size: 22px;
}

/* quote part */

.quote-part-content{
    font-size: 22px;
    text-align: center;
}

.quote-part-content .the-auther-of-the-quote{
    text-align: right;
    padding-top: 10px;
    font-weight: 600;
}

.quote-part{
    background-color: #E5E7EB;
    height: 250px;
}

.quote-part-content{
    padding: 20px;
    box-sizing: border-box;
}

.quote-part{
    margin-top: 30px;
    height: 350px;
    background-color: rgb(214, 215, 217);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quote-text{
    font-size: 24px;
    font-style: italic;
    font-weight: 300;
    color: #1F2937;
}

.quote-text{
    text-align: left;
    padding-left:20px;
}

.the-auther-of-the-quote{
    padding-right: 20px;
    font-size: 20px;
    padding-top: 30px;
}

/* action box part */

.action-box{
    background-color: #3882F6;
    color: white;
    margin: 50px;
    border-radius: 6px;
    width: 900px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 70px;
    gap: 50px;

}

.action-title{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 5px;
}

button.action-button{
    color: #E5E7EB;
    background-color: transparent;
    border: 2px solid #E5E7EB;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 700;
    box-sizing: border-box;
    height: 25px;
    width: 100px;

}

button.action-button:hover{
    color: #3882F6;
    background-color: #E5E7EB;
    border: none;

}

/* footer */

.footer-part{
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: center;
    background-color: #1F2937;
    color: #E5E7EB;
}

