

header{
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    justify-content: center;
}

.header-content{
    margin-top: 15px;
    width: 700px;
}

.square-frames-part, .quote-part{
    display: flex;
    justify-content: center;
}

.square-frames-part-content, 
.quote-part-content{
    width: 700px;
}

.quote-part{
    background-color: gray;
    height: 250px;
}

.header-upper-line{
    display: flex;
    justify-content: space-between;
}

.header-links-ul{
    display: flex;
    gap: 20px;
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

a{
    text-decoration: none;
    color: white;
}

h1{
    font-weight: 900;
}

.header-buildboard img{
    width:100%;
    height: auto;
}

.header-buildboard{
    display: flex;
    flex-direction: column;
    justify-content: end;
    flex: 5;
}

.header-buildboard-line-text-part{
    display: flex;
    flex-direction: column;
    justify-content: start;
    flex: 3;
}

.header-buildboard-line{
    display: flex;
    height: 350px;
    gap:15px;
    justify-content: space-between;
    align-items: center;
}

h1{
    margin: 0;
    padding: 0;
}

.header-logo{
    font-weight: 1000;
}

.square-frame-picture{
    border: 3px solid black;
    width: 120px;
    height: 120px;
    border-radius: 10%;
}

.square-frame-wrapper{
    max-width: 120px;
    text-align: center;
}

.square-frames-wrapper{
    display: flex;
    justify-content: space-evenly;
}

.square-frames-title{
    text-align: center;
    font-weight: 700;
    font-size: 22px;
}